%script{canvas: "canvas",src:"javascripts/waves.js",type: "text/paperscript"}
%body
  #moon
    = haml :portfolio
  %i.fa.fa-3x.fa-times-circle-o#close
  %canvas#canvas{resize: ""}
  .row-fluid#mobile
    %a{href:"sms:6308906224"}
      .col-lg-12.col-md-12.col-sm-12.col-xs-12.panel#message
        %i.fa.fa-giant.fa-comment
    %a{href:"mailto:brycedorn@gmail.com"}
      .col-lg-12.col-md-12.col-sm-12.col-xs-12.panel#mail
        %i.fa.fa-giant.fa-envelope
    %a{href:"tel:6308906224"}  
      .col-lg-12.col-md-12.col-sm-12.col-xs-12.panel#phone
        %i.fa.fa-giant.fa-phone