.row-fluid.container-fluid#portfolio
  
  .top
    %h1 Past work

  #works    
    .col-lg-6.col-md-6.col-sm-12.col-xs-12.entry
      %a#clickthrough{href:"http://minitranslate.herokuapp.com/"}
        %img{src:"images/mini.png"}
      %h2 minitranslate
      %p A simple way to translate words into other words.
    .col-lg-6.col-md-6.col-sm-12.col-xs-12.entry
      %a#clickthrough{href:"http://katatokei.me"}
        %img{src:"images/kata.png"}
      %h2 katatokei
      %p A clock design inspired by Katamari Damacy.
    .col-lg-6.col-md-6.col-sm-12.col-xs-12.entry
      %a#clickthrough{href:"http://www.chirpymood.com"}
        %img{src:"images/chirp.png"}
      %h2 Chirpymood
      %p An alternative to Rainymood, with a lot more birds.
    .col-lg-6.col-md-6.col-sm-12.col-xs-12.entry
      %a#clickthrough{href:"http://sherlock-doge.herokuapp.com"}
        %img{src:"images/doge.png"}
      %h2 Sherlock Doge
      %p An unfinished project to track Doge pool statistics.
    .col-lg-6.col-md-6.col-sm-12.col-xs-12.entry
      %a#clickthrough{href:"http://www.star-course.com"}
        %img{src:"images/sc.png"}
      %h2 star-course.com
      %p A homepage for a club I'm in at school. 
    .col-lg-6.col-md-6.col-sm-12.col-xs-12.entry
      %a#clickthrough{href:"http://www.54.io"}
        %img{src:"images/54.png"}
      %h2 54.io
      %p Helped design and maintain the homepage for a startup weekend at UIUC.
    .col-lg-6.col-md-6.col-sm-12.col-xs-12.entry
      %a#clickthrough{href:"/lineup"}
        %img{src:"images/line.png"}
      %h2 Last.fm lineup
      %p A little project to show listening stats in a festival lineup-esque format.

  .bottom
    %a{href:"https://github.com/brycedorn"}
      %i.fa.fa-3x.fa-github-square
    %a{href:"https://www.linkedin.com/in/brycedorn"}
      %i.fa.fa-3x.fa-linkedin-square
    %a{href:"http://compscilewis.tumblr.com/"}
      %i.fa.fa-3x.fa-tumblr-square
    %a{href:"mailto:brycedorn@gmail.com"}
      %i.fa.fa-3x.fa-envelope
    %a{href:"images/resume.pdf"}
      %i.fa.fa-3x.fa-camera

